doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   ul 
    li 
     h1 my text 
    li
     h1 hi bro
   input(type="text")
   if condition  
     p it is true
     p 
      name=name
   else 
     p it is false 
   -var anyarry=[10,30,5,60]
   each value in anyarry
    p=value
   block content
   
