<!DOCTYPE html>
<html>
  <head>
    <!-- res.render('index', { title: 'Express' }); -->
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- tayhz fichier index.hbd ou yehto blaste hade body wela la we93 mochkile ayjib like deyal error-->
    {{{body}}}
  </body>
</html>
